"*":
  "atom-beautify":
    general:
      analytics: false
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "go-plus":
    goPath: "/Users/stewartjarod/Code/go"
  "linter-eslint":
    useGlobalEslint: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1477942344
  welcome:
    showOnStartup: false
