"*":
  "atom-beautify":
    general:
      analytics: false
  "atom-minify":
    cssMinifier: "CSSO"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "git-blame"
      "webbox-color"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "git-blame":
    dateFormatString: " "
    ignoreWhiteSpaceDiffs: true
    showOnlyLastNames: true
  "go-plus":
    goPath: "/Users/stewartjarod/Code/go"
  kite:
    showKiteTourOnStatup: false
  "linter-eslint":
    useGlobalEslint: true
  "linter-ui-default":
    showPanel: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "terraform-fmt": {}
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1481560405
  welcome:
    showOnStartup: false
